

.column {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex-shrink: 1;
    min-width: 300px;
}

.column .column-header {
    display: flex;
    flex-direction: row;
    background: rgba(40, 40, 41, 0.378);
    padding: 7px 12px;
    border-radius: 7px;
}

.col-head-center {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-grow: 1;
    align-items: center;
}

.col-head-center .title {
    font-size: 14px;    
    font-weight: 600;
    color: rgb(243, 243, 243);
}

.col-head-center .count {
    color: rgb(26, 27, 28);
    font-size: 13px;
    font-weight: 600;
    background-color: aliceblue;
    padding: 0px 3px;
    border-radius: 2px;
    min-width: 12pt;
    text-align: center;
}

.add-icon i {
    color: rgb(243, 243, 243);
}